---
import i18next, { changeLanguage } from "i18next";
import BlogPost from "@components/BlogPost.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import { localizePath } from "astro-i18next";
import { AstroSeo } from "@astrolib/seo";

changeLanguage("en");

const allPosts = await getCollection(
  "blog",
  ({ data }) => data.language === i18next.language
);
allPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
const pageTitle = "Blog";
---

<AstroSeo title="Blog Mathias Wellner" />

<PageLayout pageTitle={pageTitle}>
  <div class="grid mt-4">
    {
      allPosts.map((post) => (
        <BlogPost
          url={localizePath(post.slug)}
          title={post.data.title}
          date={post.data.pubDate}
          imageSrc={post.data.image?.src}
          imageAlt={post.data.image?.alt}
        />
      ))
    }
  </div>
</PageLayout>
