---
import BlogPost from "@components/BlogPost.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import { localizePath } from "astro-i18next";
import { changeLanguage } from "i18next";

changeLanguage("de");

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection(
    "blog",
    ({ data }) => data.language === "de"
  );
  allPosts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
  return paginate(allPosts, { pageSize: 10 });
}
const { page } = Astro.props;
const pageTitle = "Blog";
---

<PageLayout pageTitle={pageTitle}>
  <div class="grid row mt-4 mb-4">
    {
      page.data.map((post) => (
        <div class="col-md-6 col-lg-4 mb-3">
          <BlogPost url={localizePath(post.slug)} frontmatter={post.data} />
        </div>
      ))
    }
  </div>

  <nav aria-label="Seitennavigation">
    <ul class="pagination">
      {
        page.url.prev ? (
          <li class="page-item">
            <a class="page-link" href={page.url.prev}>
              Zurück
            </a>
          </li>
        ) : null
      }
      {
        page.currentPage > 1 ? (
          <li class="page-item">
            <a class="page-link" href={page.url.prev}>
              {page.currentPage - 1}
            </a>
          </li>
        ) : null
      }
      <li class="page-item active">
        <a class="page-link" href={page.url.current}>{page.currentPage}</a>
      </li>
      {
        page.currentPage !== page.lastPage ? (
          <li class="page-item">
            <a class="page-link" href={page.url.next}>
              {page.currentPage + 1}
            </a>
          </li>
        ) : null
      }
      {
        page.url.next ? (
          <li class="page-item">
            <a class="page-link" href={page.url.next}>
              Vor
            </a>
          </li>
        ) : null
      }
    </ul>
  </nav>
</PageLayout>

<script>
  import "@scripts/masonry.js";
</script>
