---
import BlogPost from "@components/BlogPost.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import { localizePath } from "astro-i18next";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection(
    "blog",
    ({ data }) => data.language === "de"
  );
  allPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
  return paginate(allPosts, { pageSize: 12 });
}
const { page } = Astro.props;
const pageTitle = "Blog";
---

<PageLayout pageTitle={pageTitle}>
  <div class="grid mt-4 mb-4">
    {
      page.data.map((post) => (
        <BlogPost
          url={localizePath(post.slug)}
          title={post.data.title}
          date={post.data.pubDate}
          imageSrc={post.data.image?.src}
          imageAlt={post.data.image?.alt}
        />
      ))
    }
  </div>

  <nav aria-label="Seitennavigation">
    <ul class="pagination">
      <li class="page-item">
        {
          page.url.prev ? (
            <a class="page-link" href={page.url.prev}>
              Vorherige Seite
            </a>
          ) : null
        }
        {
          page.url.next ? (
            <a class="page-link" href={page.url.next}>
              Nächste Seite
            </a>
          ) : null
        }
      </li>
    </ul>
  </nav>
</PageLayout>
