---
import i18next, { changeLanguage } from "i18next";
import BlogPost from "@components/BlogPost.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { getCollection } from "astro:content";
import { localizePath } from "astro-i18next";
import { AstroSeo } from "@astrolib/seo";

changeLanguage("de");

let allPosts = await getCollection(
  "blog",
  ({ data }) => data.language === i18next.language
);
allPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
allPosts = allPosts.slice(0, 12);
const pageTitle = "Blog";
---

<AstroSeo title="Blog Mathias Wellner" />

<PageLayout pageTitle={pageTitle}>
  <div class="grid mt-4 mb-4">
    {
      allPosts.map((post) => (
        <BlogPost
          url={localizePath(post.slug)}
          title={post.data.title}
          description={post.data.description}
          date={post.data.pubDate}
          imageSrc={post.data.image?.src}
          imageAlt={post.data.image?.alt}
        />
      ))
    }
  </div>

  <nav aria-label="Seitennavigation">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="/2/">Nächste Seite</a>
      </li>
    </ul>
  </nav>
</PageLayout>
