---
import { getPicture } from "@astrojs/image";
const { url, frontmatter } = Astro.props;

const { sources, image } = frontmatter.cover
  ? await getPicture({
      alt: frontmatter.cover?.alt,
      src: frontmatter.cover?.src,
      widths: [500],
      aspectRatio: frontmatter.cover?.aspectRatio || "4:3",
      formats: ["avif", "webp", "jpg"],
    })
  : { sources: [], image: null };
---

<div class="card">
  {
    image ? (
      <picture>
        {sources.map((source) => (
          <source type={source.type} srcset={source.srcset} />
        ))}
        <img
          src={image.src || ""}
          class="card-img-top"
          alt={frontmatter.cover?.alt}
        />
      </picture>
    ) : null
  }
  <div class="card-body">
    <div class="card-text fw-light">
      {frontmatter.date.toLocaleDateString()}
    </div>
    <h5 class="card-title">
      <a href={url} class="text-decoration-none stretched-link"
        >{frontmatter.title}</a
      >
    </h5>
    <p class="card-text">{frontmatter.description}</p>
  </div>
</div>
